let pkey = "[지갑의 비밀키]를 입력해주세요";
let addr = "[지갑의 주소]를 입력해주세요";
let kas_project_auth = "[KAS 인증키] KAS Console 에서 발급받으세요";

// 메인넷과 같은 계쩡을 사용하려면 이렇게 쓰시구요
let pkey_cypress = pkey;
let addr_cypress = addr;

// 다르게 사용하시려면 별로도 정보를 입력하세요
let pkey_cypress = "메인넷용 비밀키"";
// 이 주소를 얻기위해 웹에 비밀키를 입력하지 마시고 
// kaikas 에 비밀키로 계정을 추가하시면 주소를 얻을 수 있습니다.
let addr_cypress = "메인넷용 비밀키 주소"; 

module.exports = {
  pkey,
  addr,
  pkey_cypress,
  addr_cypress,
  kas_project_auth,
};
