let pkey = "[지갑의 비밀키]를 입력해주세요";
let addr = "[지갑의 주소]를 입력해주세요";

let kas_project_auth = "[KAS 인증키] KAS Console 에서 발급받으세요";

// 저는 메인넷과 테스트넷를 다른 지갑으로 사용했습니다.
// 동일하게 쓰시는 분들은 아래처럼 변수를 덮어쓰면 됩니다.
const pkey_cypress = pkey; 
const addr_cypress = addr;

module.exports = {
  pkey,
  addr,
  pkey_cypress,
  addr_cypress,
  kas_project_auth,
};
