let pkey = "[지갑의 비밀키]를 입력해주세요";
let addr = "[지갑의 주소]를 입력해주세요";
let kas_project_auth = "[KAS 인증키] KAS Console 에서 발급받으세요";

let pkey_cypress = pkey;

module.exports = {
  pkey,
  addr,
  pkey_cypress,
  kas_project_auth,
};
